header {
  position: absolute;
  background-color: white;  
  color: #333333;
  width: 100%;
  height: 20%;
  text-align: center;
  font-family: sans-serif;
}

.headaline {
  margin: auto;
}

.headline-list {
  text-align: center;
  margin: auto;
  padding: 0%;
}

.headline-list-item {
  list-style: none;
  display: inline-block;
}

#renesas {
  color: #2A289D;
}

#sensirion {
  color: #66CC33;
}

#container {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 80%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: sans-serif;
  /* display: block; */
}

.canvas-wropper {
  position: relative;
  display: block;
  width: 100%;
  height: 85%;
}

.canvas-wropper canvas {
  position: absolute;
  width: 100%;
  height: 100%
}

#connectButton {
  position: relative;
  background-color: coral;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
  cursor: pointer;
  text-align: center;
  display: block;
}

#statusText {
  position: relative;
  background-color: gold;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5%;
  text-align: center;
  display: block;
}
