#container {
  background-color: darkorange;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  font-family: Roboto;
}

#status {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 38px;
  width: 128px;
  overflow-x: visible;
  cursor: default;
  padding: 12px 0;
  -webkit-user-select: none;
}

#connectButton {
  width: 100%;
  height: 15%;
  text-align: center;
  background-color: coral;
}

#statusText {
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: darkblue;
}

#sensorData {
  background-color: chartreuse;
  width: 100%;
  height: 80%;
  display: block;
}
