#container {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: sans-serif;
}

header {
  position: relative;
  background-color: white;  
  color: #333333;
  width: 100%;
  height: 20%;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  display: block;
}

h1 {
  margin-bottom: 0%;
}

.headline {
  font-size: 200%;
}

.headline-list {
  text-align: center;
  margin: 0 auto 5 auto;
  margin-bottom: 10%;
  padding: 0%;
}

.headline-list-item {
  list-style: none;
  display: inline-block;
  font-size: 90%;
}

#renesas {
  color: #2A289D;
}

#sensirion {
  color: #66CC33;
}

.canvas-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 65%;
}

.canvas-wrapper canvas {
  position: absolute;
  width: 100%;
  height: 100%
}

.text-wrapper {
  position: relative;
  color: #333333;
  display: block;
  width: 100%;
  height: 15%;
  text-align: center;
}

.text-wrapper #connectButton {
  position: relative;
  display: block;
  margin-bottom: 10%;
  width: 50%;
  height: 50%;
  cursor: pointer;
  font-size: 200%;
  -webkit-user-select: none;
}

.text-wrapper #statusText {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50%;
  font-size: 80%;
}
